[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
asgiref = "==3.8.1"
certifi = "==2022.9.14"
distlib = "==0.3.8"
django = "==4.2.13"
filelock = "==3.14.0"
platformdirs = "==4.2.2"
sqlparse = "==0.4.2"
django-rest-framework = "==0.1.0"
moment = "==0.12.1"
httplib2 = "==0.17.4"
cryptography = "==35.0.0"
passeo = "==1.0.4"
ecdsa = "==0.18.0b1"
requests = "==2.30.0"
pyotp = "==2.9.0"

[dev-packages]

[requires]
python_version = "3.12"
